@model IEnumerable<DogGo.Models.Perro>


@{
    ViewData["Title"] = "Perros";
}

<h1 class="titulo-perros">🐶 Mis mejores amigos 🐶</h1>

<div class="carrusel-container">

    <button class="flecha izquierda" onclick="mover(-1)">❮</button>

    <div class="carrusel" id="carrusel">

       @foreach (var item in Model)
{
    <div class="perro-wrapper" onclick="irA(@Model.ToList().IndexOf(item))">

        <div class="acciones-externas">
            <a asp-action="Edit" asp-route-id="@item.Id">
                <i class="fa-solid fa-pen"></i>
            </a>

            <a asp-action="Delete" asp-route-id="@item.Id">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>

        <div class="perro-card" 
             onclick="abrirDetalle(event, @Model.ToList().IndexOf(item), @item.Id)">

            @if (!string.IsNullOrEmpty(item.ImagenUrl))
            {
                <img src="@item.ImagenUrl" class="perro-img" />
            }

            <h3>@item.Nombre</h3>
            <p>@item.Raza</p>
            <p>@item.Edad años</p>
            <p>@item.Tamaño</p>

            <div class="ver-detalles">
                Click para ver detalles
            </div>

        </div>

    </div>
}

    </div>

    <button class="flecha derecha" onclick="mover(1)">❯</button>

</div>

<a asp-action="Create" class="btn-float">
    <i class="fa-solid fa-plus"></i>
</a>


<style>
  
    .perros-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        padding: 40px;
    }

    .perro-card {
    width: 345px;
    padding: 20px;
    border-radius: 25px;

    background: rgba(255,255,255,0.4); 
    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    text-align: center;
    transition: 0.3s;

    cursor: pointer;
    position: relative;
    z-index: 1;

    display: block;           
    text-decoration: none;    
    color: inherit;           
}

    .activo .perro-card {
    box-shadow: 0 30px 60px rgba(0,0,0,0.35);
}
     .perro-card h3 {
       font-size: 24px;
       color: #222;
       font-weight: bold;
       margin: 10px 0;
     }
     .perro-card p {
       color: #666;
        font-size: 14px;
     }


    .perro-card:hover {
      transform: translateY(-10px) scale(1.06);
      box-shadow: 0 25px 50px rgba(0,0,0,0.25);
    }

    .perro-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .perro-wrapper {
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       animation: fadeUp 0.5s ease;
    }

        @@keyframes fadeUp {
          from {
           opacity: 0;
             transform: translateY(20px);
           }
            to {
              opacity: 1;
               transform: translateY(0);
        }
    }

    .acciones-externas {
     position: absolute;
     top: -12px;
     right: -12px;

     z-index: 1000; /* Tabla de sobreposicion */

     display: flex;
     gap: 12px;

     background: rgba(255,255,255,0.8);
     padding: 8px 12px;
     border-radius: 12px;

     box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }
    /* Boton editar y eliminar */
    .acciones-externas a {
     color: #444;
     font-size: 18px;
     transition: 0.2s;
     position: relative;
     z-index: 2000;
    }
    
    .acciones-externas a:hover {
      transform: scale(1.2);
    }
     .acciones-externas a:nth-child(1):hover {
      color: #3b82f6;
    }

     .acciones-externas a:nth-child(2):hover {
      color: #ef4444;
    }
   
    /* Boton agregar */
    .btn-float {
      position: fixed;
      bottom: 30px;
      right: 30px;

      width: 60px;
      height: 60px;

      background: #4f46e5;
      color: white;

      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 24px;

      text-decoration: none;

      box-shadow: 0 15px 30px rgba(0,0,0,0.3);
      z-index: 9999;

      transition: 0.3s;
    }

   .btn-float:hover {
     transform: scale(1.1) rotate(90deg);
     background: #4338ca;
   }
 
   .btn-float::after {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background: rgba(79,70,229,0.4);
     animation: pulse 2s infinite;
   }

   @@keyframes pulse {
     0% {
        transform: scale(1);
        opacity: 0.6;
     }
     100% {
        transform: scale(1.8);
        opacity: 0;
     }
   }



    /* Detalles de la mascota */
    .ver-detalles {
        opacity: 0;
        margin-top: 12px;
        font-weight: bold;
        color: #4f46e5;
        font-size: 14px;
        transition: 0.3s;
    }

     .perro-card:hover .ver-detalles {
         opacity: 1;
         transform: translateY(5px);
    }

    /* Titulo de la mascota */

    .titulo-perros {
      text-align: center;
      margin-top: 30px;
      font-size: 36px;
      font-weight: bold;
      color: #222;
    }

    /* Efecto carrusel*/

    .carrusel-container {
    position: relative;
    width: 100%;
    margin-top: 80px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    .carrusel-container {
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.05) 100%);
}
}

.carrusel {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
    padding: 40px;
    position: relative;
    height: 100%;
    width: 100%;
}

/* Efecto y tamaño*/

.perro-wrapper {
    min-width: 280px;
    transition: 0.5s;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    filter: blur(0px);
}

/* centro */
.activo {
    transform: scale(1.1);
    opacity: 1;
    z-index: 10;
}

/* laterales */
.lado {
    transform: scale(0.9);
    opacity: 0.5;
    filter: blur(1px);
    z-index: 5;
}


/* atras*/
.fondo {
    z-index: 1;
    filter: blur(2px);
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 999;
}

.izquierda { left: 10px; }
.derecha { right: 10px; }

</style>

    <script>
let index = 0;

function actualizarCarrusel() {
    const items = document.querySelectorAll(".perro-wrapper");
    const total = items.length;

    items.forEach((item, i) => {

        let posicion = i - index;

       
        if (posicion > total / 2) posicion -= total;
        if (posicion < -total / 2) posicion += total;

        item.classList.remove("activo", "lado", "fondo");

        if (posicion === 0) {
         
            item.style.transform = `
                translateX(calc(-50% + 0px))
                scale(1.2)
            `;
            item.style.opacity = "1";
            item.classList.add("activo");

        } else if (Math.abs(posicion) === 1) {
          
            item.style.transform = `
                translateX(calc(-50% + ${posicion * 320}px))
                scale(0.95)
            `;
            item.style.opacity = "0.75";
            item.classList.add("lado");

        } else {
            
            item.style.transform = `
                translateX(calc(-50% + ${posicion * 160}px))
                scale(0.8)
                translateY(40px)
            `;
            item.style.opacity = "0.25";
            item.classList.add("fondo");
        }
    });
}

function mover(direccion) {
    const items = document.querySelectorAll(".perro-wrapper");
    const total = items.length;

    index += direccion;

    if (index < 0) index = total - 1;
    if (index >= total) index = 0;

    actualizarCarrusel();
}

function irA(posicion) {
    index = posicion;
    actualizarCarrusel();
}

function abrirDetalle(e, posicion, id) {
    e.stopPropagation();

    if (index === posicion) {
        window.location.href = "/Perro/Details/" + id;
    } else {
        index = posicion;
        actualizarCarrusel();
    }
}


document.addEventListener("DOMContentLoaded", () => {
    actualizarCarrusel();
});
</script>